<!-- CreateCustomer.razor -->
@page "/create-customer"
@implements IDisposable
@using System.ComponentModel.DataAnnotations
@using Mc2.CrudTest.Presentation.Client.Models
@using Mc2.CrudTest.Presentation.Client.services
@using Mc2.CrudTest.Presentation.Shared.ValueObjects
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject ILogger<CustomerCreate> Logger
@inject ICustomerService CustomerService


<h3>Create New Customer</h3>

<EditForm EditContext="editContext"   OnValidSubmit="CreateCustomer" FormName="CustomerCreate">
    <DataAnnotationsValidator />
    
    <div class="form-group">
        <label for="firstName">First Name</label>
        <InputText id="firstName" @bind-Value="Model!.FirstName" class="form-control" />
        <ValidationMessage For="() => Model!.FirstName" />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <InputText id="lastName" @bind-Value="Model!.LastName" class="form-control" />
        <ValidationMessage For="() => Model!.LastName" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="Model!.Email" class="form-control" />
        <ValidationMessage For="() => Model!.Email" />
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <InputText id="phoneNumber" @bind-Value="Model!.PhoneNumber" class="form-control" />
        <ValidationMessage For="() => Model!.PhoneNumber" />
    </div>
    <div class="form-group">
        <label for="dateOfBirth">DateOfBirth</label>
        <InputDate id="dateOfBirth" @bind-Value="Model!.DateOfBirth" class="form-control" />
        <ValidationMessage For="() => Model!.DateOfBirth" />
    </div>

    <div class="form-group">
        <label for="bankAccount">BankAccount</label>
        <InputText id="bankAccount" @bind-Value="Model!.BankAccount" class="form-control" />
        <ValidationMessage For="() => Model!.BankAccount" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button> <div class="text-danger">@ErrorMessage</div>
</EditForm>

@code {

    private EditContext? editContext;

    private async Task CreateCustomer()
    {
        Logger.LogInformation("sending start: sending the form to customer controller");
        await CustomerService.Create(Model);
        ErrorMessage = @CustomerService.GetErrors();
    }

    private void Submit()
    {
        Logger.LogInformation("Submit called: Processing the form");
    }

    [SupplyParameterFromForm]
    private CustomerCreateModel? Model { get; set; }

    private ValidationMessageStore? messageStore;

    private string ErrorMessage{ get; set; }

    protected override void OnInitialized()
    {
        ErrorMessage = string.Empty;
        Model ??= new();
        editContext = new(Model);
        editContext.OnValidationRequested += HandleValidationRequested;
        messageStore = new(editContext);
    }

    private void HandleValidationRequested(object? sender,
       ValidationRequestedEventArgs args)
    {
        messageStore?.Clear();

        try
        {
            _ = new Email(Model.Email);
        }
        catch
        {
            messageStore?.Add(() => Model.Email, "Enter valid email");
        }
        try
        {
            _ = new BankAccount(Model.BankAccount);
        }
        catch
        {
            messageStore?.Add(() => Model.BankAccount, "Enter valid Bank Account");
        }
    }

    public void Dispose()
    {
        if (editContext is not null)
        {
            editContext.OnValidationRequested -= HandleValidationRequested;
        }
    }
}